/***** SEARCH BAR COMPONENT CSS *****/

/* APP COLORS */
:root {
  --lavender: #8E7BEF;
  --dark-purple: #7B6FE5;
  --light-purple: #e6cae6;
  --light-lavender: #E0DBF9;
  --cream: #f0e7dd;
}

.search-bar {
    display: flex;
    width: 274px;
    padding: 8px 14px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* Apply the soft shadow to the main input group */
.search-input {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    border: none;
}

.search-input-field, .search-icon-wrapper {
    background-color: var(--light-purple) !important;
    border: none;
}

.search-icon-wrapper {
    border-top-left-radius: 30px !important;
    border-bottom-left-radius: 30px !important;
    padding-left: 18px;
}

.search-input-field {
    border-top-right-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
    padding-right: 18px;
}

.search-input-field:focus {
    box-shadow: none !important;
    background-color: var(--light-purple) !important;
}

.search-input input {
    margin-bottom: 0;
}
